
footer.footerCont {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #efefef;
    width: 100%;
    ul {
        list-style: none;
        display: block;
        width: 80%;
        margin: 0 auto;
        max-width: 600px;
        margin: 20px auto 0;
        text-align: center;
        padding: 0;
        li:nth-child(1) {
            background: transparent;
            div p {
                color: black;
            }
            &:hover{
                background: transparent;
                cursor: auto;
            }
        }
        li {
            .othersTxt {
                color: white;
            }
            &:hover {
                background: #060693;
                cursor: pointer;
            }
            vertical-align: top;
            height: 60px;
            width: 60px;
            border-radius: 11px;
            background: blue;
            display: inline-block;
            margin: 10px;
        }
    }
}